@font-face {
    font-family: 'Cyberjunkies';
    src: url('./Cyberjunkies.ttf') format('truetype'),
         url('./Cyberjunkies.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cyberjunkies';
    src: url('./Cyberjunkies\ Italic.ttf') format('truetype'),
         url('./Cyberjunkies\ Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Utility class to apply Cyberjunkies font */
.font-cyberjunkies {
    font-family: 'Cyberjunkies', sans-serif;
}
